html,
body,
#root {
  font: 0.9rem sans-serif;
  background: #0a1f44;
  color: #1e2432;
  height: 100%;
  margin: 0;
  box-sizing: border-box;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.418)),
    url("./img/photo-1565932887479-b18108f07ffd.jpg");
  background-position: center;
  background-repeat: repeat;
}

h1,
h2 {
  text-transform: uppercase;
  text-align: center;
}

.nav {
  color: #fff;
  font-size: xx-large;
  padding: 3rem 3rem 0;
}

.main-container {
  height: inherit;
}

.show {
  display: block;
  color: #fff;
  text-align: center;
  padding: 1rem;
}
.hidden {
  display: none;
}

.main-title {
  color: #fff;
  text-align: center;
  font-size: 3rem;
  font-weight: 400;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.search-wrap {
  display: flex;
  padding: 3rem;
  /* width: fit-content; */
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.search {
  outline: none;
  font-size: 1.5rem;
  padding: 20px 7%;
  border-radius: 20px;
  border: none;
  margin-bottom: 5%;
  background: rgba(250, 250, 250, 0.85);
  width: 50%;
}

.wrap {
  display: flex;
  justify-content: center;
  padding: 0 2rem;
}

.city {
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 40px 8%;
  border-radius: 20px;
  background: rgba(250, 250, 250, 0.85);
  box-shadow: 10px 10px 5px 0px rgba(15, 15, 15, 0.404);
}

p {
  margin-top: 10px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.city-temp {
  font-size: 5rem;
  font-weight: bold;
  margin-top: 10px;
  color: #1e2432;
  text-align: center;
}

.city sup {
  font-size: 0.5em;
}

.city-name {
  font-size: 2em;
}

.city-name sup {
  padding: 0.2em 0.6em;
  margin-left: 0.2em;
  border-radius: 30px;
  color: #fff;
  background: #ff8c00;
}

.city-icon {
  margin-top: 10px;
  width: 100px;
  height: 100px;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-v {
  position: absolute;
  top: -8rem;
}

.venues {
  display: flex;
  justify-content: center;
  flex-direction: wrap;
  text-align: center;
  flex-wrap: wrap;
  color: #fff;
  padding: 2rem;
  position: relative;
}

.venue-info,
.current-weather {
  text-transform: none;
}

.venue-container {
  padding: 30px;
}

@media only screen and (max-width: 600px) {
  .search {
    padding: 20px 15%;
  }

  .city {
    padding: 40px 20%;
  }
}
